/*.about-user {
    height: 12.1em;
    border: 1px solid #bbb;
    overflow: hidden;
    padding: .3em .5em;
}

.about-user .photo {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    margin-right: 2.5em;
    margin-bottom: 1.5em;
}

.about-user .name {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bolder;
}

.about-user .position {
    font-style: oblique;
}
*/