<div class="card col-sm-12">
    <div class="row">
        <div class="col-sm-5 col-xs-4">
            <div class="card-block">
                <img class="card-img-bottom img-fluid rounded-circle" src="{{user.userPhoto}}" alt="{{user.userName}}">
            </div>
        </div>
        <div class="col-sm-7 col-xs-8">
            <div class="card-block text-center h-100">
                <h4 class="card-title h-50">{{user.userName}}</h4>
                <p class="card-text h-50">{{user.userPosition}}</p>
            </div>
        </div>
    </div>
</div>




<!--
<div class="about-user">
  <img class="photo" src="{{user.userPhoto}}"/>
  <div class="name">{{user.userName}}</div>
  <p class="position">{{user.userPosition}}</p>
</div>
-->