<fieldset>
    <legend>{{'TODO SEARCH.Title' | translate}}</legend>
    <div class="app-todo-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" autofocus [(ngModel)]="searchString" (keyup.enter)="searchTodo();">
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="searchTodo()">{{'TODO SEARCH.Button' | translate}}</button>
            </span>
        </div>
    </div>
</fieldset>