<fieldset>
    <legend>{{'FILTERS.Filters' | translate}}</legend>
    <div class="row by-copmlete">
    <div class="btn-group col-md-12 col-sm-12 col-xs-6" role="group" aria-label="Todos state">
        <button type="button" class="btn btn-default" (click)="filterByComplete(0)">{{'FILTERS.All' | translate}}</button>
        <button type="button" class="btn btn-success" (click)="filterByComplete(2)"><i class="fa fa-check" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-warning" (click)="filterByComplete(1)"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    </div>
    <div class="row by-date">
    <div class="btn-group col-md-12 col-sm-12 col-xs-6" role="group" aria-label="Todos date">
        <label class="custom-control custom-checkbox col-md-11 col-sm-10 col-xs-10">
            <input class="toggle custom-control-input" type="checkbox" (click)="filterByDate()">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{'FILTERS.For today' | translate}}</span>
        </label>
    </div>
    </div>
</fieldset>