<div class="container">
	<form novalidate [formGroup]="authorizationForm" (ngSubmit)="onSubmit(authorizationForm)">
        <div *ngIf="isFailedLogin" class="alert alert-danger">
                {{'ERRORS.AuthError' | translate}}
        </div>
        <div class="form-group">
            <label for="login">{{'AUTH_AND_REG.Login' | translate}}</label>
            <input type="text" class="form-control" id="login" formControlName="login">

            <div *ngIf="authorizationForm.get('login').hasError('required') && 
                        authorizationForm.get('login').touched" 
                class="alert alert-danger">
                {{'ERRORS.ReqError' | translate}}
            </div>
            <div *ngIf="authorizationForm.get('login').hasError('minlength') && 
                        authorizationForm.get('login').touched" 
                class="alert alert-danger">
            {{'ERRORS.Login' | translate}}
            </div>
        </div>
        
        <div class="form-group">
            <label for="password">{{'AUTH_AND_REG.Password' | translate}}</label>

            <input type="password"
                class="form-control"
                id="password"
                formControlName="password">

            <div *ngIf="authorizationForm.get('password').hasError('required') && 
                        authorizationForm.get('password').touched" 
                class="alert alert-danger">
                {{'ERRORS.ReqError' | translate}}
            </div>
            <div *ngIf="authorizationForm.get('password').hasError('minlength') && 
                        authorizationForm.get('password').touched" 
                class="alert alert-danger">
            {{'ERRORS.Password' | translate}}
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-lg btn-block"
            [disabled]="authorizationForm.invalid" value="{{'AUTH_AND_REG.LogInButton' | translate}}"> 
        <a class="btn rounded-btn" [routerLink]="['/signin']">{{'AUTH_AND_REG.GoToReg' | translate}}</a>
	</form>
</div>