<div class="container">
	<form novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)">
        
        <div class="form-group">
            <label for="login">{{'AUTH_AND_REG.Login' | translate}}</label>
            <input type="text" class="form-control" id="login" formControlName="login">

            <div *ngIf="registrationForm.get('login').hasError('required') && 
                        registrationForm.get('login').touched" 
                class="alert alert-danger">
                {{'ERRORS.ReqError' | translate}}
            </div>
            <div *ngIf="registrationForm.get('login').hasError('minlength') && 
                        registrationForm.get('login').touched" 
                class="alert alert-danger">
            {{'ERRORS.Login' | translate}}
            </div>
        </div>

        <div class="form-group">
            <label for="email">{{'AUTH_AND_REG.Email' | translate}}</label>

            <input type="text"
                class="form-control"
                id="email"
                formControlName="email">

            <div *ngIf="registrationForm.get('email').hasError('required') && 
                        registrationForm.get('email').touched" 
                class="alert alert-danger">
                {{'ERRORS.ReqError' | translate}}
            </div>
            <div *ngIf="registrationForm.get('email').hasError('minlength') && 
                        registrationForm.get('email').touched" 
                class="alert alert-danger">
            {{'ERRORS.Email' | translate}}
            </div>
        </div>
        
        <div class="form-group">
            <label for="password">{{'AUTH_AND_REG.Password' | translate}}</label>

            <input type="password"
                class="form-control"
                id="password"
                formControlName="password">

            <div *ngIf="registrationForm.get('password').hasError('required') && 
                        registrationForm.get('password').touched" 
                class="alert alert-danger">
                {{'ERRORS.ReqError' | translate}}
            </div>
            <div *ngIf="registrationForm.get('password').hasError('minlength') && 
                        registrationForm.get('password').touched" 
                class="alert alert-danger">
            {{'ERRORS.Password' | translate}}
            </div>
        </div>

        <div class="form-group">
            <label for="password">{{'AUTH_AND_REG.Repassword' | translate}}</label>

            <input type="password"
                class="form-control"
                id="repassword"

                formControlName="repassword">

            <div *ngIf="registrationForm.get('repassword').hasError('required') && 
                        registrationForm.get('repassword').touched" 
                class="alert alert-danger">
                {{'ERRORS.ReqError' | translate}}
            </div>
        </div>

        <input type="submit" class="btn btn-primary btn-lg btn-block"
            [disabled]="registrationForm.invalid" value="{{'AUTH_AND_REG.RegButton' | translate}}">
        <a class="btn rounded-btn" [routerLink]="['/login']">{{'AUTH_AND_REG.GoToLogin' | translate}}</a> 
	</form>
</div>