<nav class="app-header navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" [routerLink]="['/']"><img src="/assets/img/logo.png" /></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="['/']">{{'HEADER.Main' | translate}} <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [routerLink]="['/todos']">{{'HEADER.Task management' | translate}}</a>
            <a class="nav-item nav-link" [routerLink]="['/about']">{{'HEADER.About Team' | translate}}</a>
        </div>
    </div>
    <div *ngIf="!authUserService.isLoggedIn">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="routeLogin()">{{'AUTH_AND_REG.LogInButton' | translate}}</button>
    </div>
    <div *ngIf="authUserService.isLoggedIn">
        <button class="btn btn-outline-warning my-2 my-sm-0" (click)="logout()">{{'AUTH_AND_REG.LogOutButton' | translate}}</button>
    </div>
</nav>
