    <div class="row no-gutters">
        <div class="col-12">
            <div class="card">
                <div class="card-block">
                    <p class="card-text">{{'MAIN PAGE.Start text' | translate}}</p>
                </div>
            </div>
        </div>
        
     <div class="row no-gutters">   
        <div class="card-group">
            
            <div class="card">
                <h3 class="card-title text-center">Angular 2</h3>
                <img class="card-img-top rounded mx-auto d-block img-fluid" src="/assets/img/ng2.png" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text align-middle">{{'MAIN PAGE.Angular2 text' | translate}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://angular.io/" class="btn btn-primary btn-block">{{'MAIN PAGE.Button' | translate}}</a>
                    </div>
            </div>
            
            <div class="card">
                <h3 class="card-title text-center">Bootstrap 4</h3>
                <img class="card-img-top rounded mx-auto d-block img-fluid" src="/assets/img/bootstrap.png" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text align-middle">{{'MAIN PAGE.Bootstrap4 text' | translate}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://v4-alpha.getbootstrap.com/" class="btn btn-primary btn-block">{{'MAIN PAGE.Button' | translate}}</a>
                    </div>
            </div>

            <div class="card">
                <h3 class="card-title text-center">Mongo DB</h3>
                <img class="card-img-top rounded mx-auto d-block img-fluid" src="/assets/img/mongodb.png" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text align-middle">{{'MAIN PAGE.MongoDB text' | translate}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.mongodb.com/" class="btn btn-primary btn-block">{{'MAIN PAGE.Button' | translate}}</a>
                    </div>
            </div>

            <div class="card">
                <h3 class="card-title text-center">Type Script</h3>
                <img class="card-img-top rounded mx-auto d-block img-fluid" src="/assets/img/typescript.png" alt="Card image cap">
                    <div class="card-block">
                        <p class="card-text align-middle">{{'MAIN PAGE.TypeScript text' | translate}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://www.typescriptlang.org/" class="btn btn-primary btn-block">{{'MAIN PAGE.Button' | translate}}</a>
                    </div>
                </div>
        <div class="card-footer">
        <img class="img-fluid mx-auto" src="/assets/img/angular_lp_header.jpg" alt="Card image cap"> 
        </div>       
        </div>
     </div>
    
