<div class="app-new-todo">
<fieldset>
    <legend>{{'NEW TODO.Title' | translate}}</legend>
    
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Add new todo-item" autofocus [(ngModel)]="title" (keyup.enter)="addTodo();">
            <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" (click)="addTodo()">{{'NEW TODO.Button' | translate}}</button>
                </span>
        
    </div>
</fieldset>
<fieldset>
    <legend>{{'NEW TODO.Date' | translate}}</legend>
    <input
        [(ngModel)]="myDate"
        ngui-datetime-picker
        date-only="true" />
</fieldset>
</div>