.app-todo-item {
    margin-bottom: .5rem;
}

li {
    padding: 0.5rem 1.0rem;
}

li.completed {
    background-color: #eee;
}

label {
    flex-basis: calc(100% - 3rem - 16px);
    margin-bottom: 0;
}

span.delete {
    flex-basis: 3em;
    padding: 0;
    margin: 0;  
}

button.destroy {
    padding: 0.3rem .75rem;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    label {
        flex-basis: calc(100% - 2rem - 16px);
    }
}