<div class="app-todo-item">
    <li [class.completed]="todo.completed" class="list-group-item col-sm-12 col-xs-12">

        <label class="custom-control custom-checkbox col-md-11 col-sm-10 col-xs-10">
              <input class="toggle custom-control-input" type="checkbox" (click)="toggle()" [checked]="todo.completed">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{todo.title}}</span>
              <span *ngIf="todo.plannedDate !== undefined" class="custom-control-description">&nbsp;({{this.dateString}})</span>
        </label>
        <span class="group-btn delete col-md-1 col-sm-1 col-xs-1">
          <button class="destroy btn btn-danger float-right" (click)="onDelete()">x</button>
        </span>
    </li>
</div>