<div class="row no-gutters">
    
        <div class="col-12">
            <app-header></app-header>
        </div> 
        
        <div class="col-12">
                <router-outlet></router-outlet>
        </div>
    
</div>
