<div id="todoData" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="this.id === undefined" class="modal-title">{{'TODO DATA.New task' | translate}}</h4>
        <h4 *ngIf="this.id !== undefined" class="modal-title">{{'TODO DATA.Edit task' | translate}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <app-new-todo (add)="create($event)"></app-new-todo>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{'TODO DATA.Close' | translate}}</button>
      </div>
    </div>

  </div>
</div>