<section class="app-todo-page">
    <div class="container">
        <div class='row'>
            <div class='col-sm-4 col-lg-3 col-md-3'>
                <app-todo-search (search)="search($event)"></app-todo-search>    
                <button type="button" class="btn btn-info btn-lg add-todo-button" data-toggle="modal" data-target="#todoData">{{'TODO PAGE.Add task' | translate}}</button>
                <app-todo-filters (filter)="create($event)"></app-todo-filters>
            </div>
            <div class='col-sm-8 col-lg-9 col-md-9'>
                <app-todo-list [todos]="todos"></app-todo-list>
            </div>
        </div>
    </div>
    <app-todo-data></app-todo-data>
</section>
                