/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./assets/css/font-awesome.min.css";

legend {
    font-size: 1em;
}

.btn {
    cursor: pointer;
}